@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    font-family: 'Montserrat';
}

#UserInputDiv {
    border-radius: 20px;
    background-color: rgb(235, 245, 241);
    padding: 50px 0;
    margin: 50px 0;
}